* text=auto eol=lf

*.bin binary
*.bz2 binary
*.gif binary
*.gz binary
*.ico binary
*.jar binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.pyc binary
*.so binary
*.tar binary
*.tgz binary
*.webp binary
*.zip binary
